body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #362121 !important;
}

header {
    background-color: #362121;
    padding: 20px;
    text-align: center;
}
.taskbar {
    background-color: #333;
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: space-between;


}

.logo {
    margin-right: 20px;
}

.logo img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.taskbar.hidden {
    top: -50px;
}

.taskbar a {
    color: #fff;
    text-decoration: none;
}

.taskbar .logo {
    height: 30px;
}

.taskbar .menu {
    display: flex;
    align-items: center;
}

.taskbar .menu li {
    margin: 0 10px;
}

.taskbar .menu a {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}
h1,h2 {
    margin-bottom: 0;
    color: white;
    
}
p {
    color: #e7dcdc;
}

.about-us img {
  max-width: 80%;
  height: auto;
}
.product-details, .product-description {
    margin: 30px;
    background-color:#362121;
    align-items: center;
    text-align: center;
    text-transform: inherit;
    text-decoration-color: #e7dcdc;
}
ul.contact-us{
    color: #e7dcdc;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }

.product-image img {
    max-width: 80%;
    height: 100%;
}
.slider {
    width: 100%;
    height: 500px;
    overflow: hidden;

  }
.slider div {
    width: 80%;
    height: 70% ;
    display: flex;
    justify-content: center;
   
}
  
.slider img {
    width: 80%;
    height: auto;
    object-fit: cover;
}
table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #362121;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
.contact-us{
    background-color:#362121 ;
    padding: 50px;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

footer {
    background-color: #e7dcdc;
    padding: 5px;
    text-align: center;

}
