* {
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #362121 !important;
}

header {
    background-color: #362121;
    padding: 20px;
    text-align: center;
    font-size: small;
   
    background-image: url("/images/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 200px; /* Adjust the height to fit the image */
      
}

#header h1 {
    margin: 0;
    text-align: center;
    color:white;
}
.taskbar {
    background-color: #333;
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: space-between;


}

.logo {
    margin-right: 20px;
}

.logo img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.taskbar.hidden {
    visibility: hidden;
    top: -50px;
    position: absolute;


}

.taskbar a {
    color: #fff;
    text-decoration: none;
}


.taskbar .menu {
    display: flex;
    align-items: center;
}

.taskbar .menu li {
    margin: 0 10px;
}

.taskbar .menu a {
    color: #fff;
    text-transform: uppercase !important;
    font-size: 14px;
    transition: all .3s ease;


}
h1,h2 {
    margin-bottom: 0;
    color: white;
    
}
p {
    color: #e7dcdc;
}

.about-us img {
  max-width: 80%;
  height: auto;
}
.new-arrivals {
    background-color: #f8f8f8;
    padding: 20px;
    margin-top: 30px;
}

.new-arrivals h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.new-arrivals p {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}

.new-arrivals .product-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.new-arrivals .product-images table {
    width: 100%;
}

.new-arrivals .product-images th {
    text-align: left;
    font-weight: normal;
    padding-bottom: 10px;
}

.new-arrivals .product-images td {
    padding-bottom: 10px;
}

.new-arrivals .product-images a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    margin-left: 5px;
}
.product-details, .product-description {
    margin: 30px;
    background-color:#362121;
    align-items: center;
    text-transform: inherit;
    text-decoration-color: #e7dcdc;
}
ul.contact-us{
    color: #e7dcdc;
}
.container {
    max-width: 200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }

.product-image img {
    max-width: 80%;
    height: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #bbb0b0;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
.reviews {
    background-color: #f8f8f8;
    padding: 20px;
    margin-top: 30px;
}
.slide-in-right {
    animation: slideInRight 1s ease-in-out forwards;
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in {
    from {right: -100% }
    to {right: 0; }
}
.reviews h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.review-container {
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
    overflow: auto !important;
    position: relative !important;
    overflow: hidden;
    width: 100%;

}


.review-card {
    background-color: #fff !important;
    border-radius: 5px !important;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1) !important;
    box-sizing: border-box;
    padding: 20px !important;
    width: 33.33% !important;
    margin-bottom: 20px !important;
    flex: 0 0 31% !important;
    order: 1 !important;
    position: absolute !important;
    right: 0;
    animation: slide-in 1s ease-out forwards !important;

}

.review-text {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}

.review-info {
    display: flex;
    align-items: center;
}

.review-info img {
    border-radius: 50%;
    margin-right: 10px;
}

.reviewer-name {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}
.contact-us{
    background-color: #362121;
    padding: 10px;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

footer {
    background-color: #e7dcdc;
    padding: 5px;
    text-align: center;
    font-size: small;

}
