* {
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #362121 !important;
}

header {
    background-color: #362121;
    padding: 20px;
    text-align: center;
    font-size: small;
    background-image: url("/images/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 200px; /* Adjust the height to fit the image */
      
}

#header h1 {
    margin: 0;
    text-align: center;
    color:white;
}
.taskbar {
    background-color: #333;
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: space-between;


}

.logo {
    margin-right: 20px;
}

.logo img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.taskbar.hidden {
    visibility: hidden;
    top: -50px;
    position: absolute;


}

.taskbar a {
    color: #fff;
    text-decoration: none;
}


.taskbar .menu {
    display: flex;
    align-items: center;
}

.taskbar .menu li {
    margin: 0 10px;
}

.taskbar .menu a {
    color: #fff;
    text-transform: uppercase !important;
    font-size: 14px;
    transition: all .3s ease;


}
h1,h2 {
    margin-bottom: 0;
    color: white;
    
}
p {
    color: #e7dcdc;
}

.about-us img {
  max-width: 80%;
  height: auto;
}
.new-arrivals {
    background-color: #f8f8f8;
    padding: 20px;
    margin-top: 30px;
}

.new-arrivals h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.new-arrivals .product-images.container {
    display: flex;
    justify-content: space-between;
}

.new-arrivals .product-images .product {
    flex-basis: calc(33% - 10px);
}

@media (max-width: 768px) {
    .new-arrivals .product-images .product {
        flex-basis: calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .new-arrivals .product-images .product {
        flex-basis: 100%;
    }
}
.product-details, .product-description {
    margin: 30px;
    background-color:#362121;
    align-items: center;
    text-transform: inherit;
    text-decoration-color: #e7dcdc;
}
ul.contact-us{
    color: #e7dcdc;
}
.container {
    max-width: 200px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
  }

.product-image img {
    max-width: 80%;
    height: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 2px;
    text-align: left;
}

th {
    background-color: #bbb0b0;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.contact-us{
    background-color: #362121;
    padding: 10px;
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

footer {
    background-color: #e7dcdc;
    padding: 5px;
    text-align: center;
    font-size: small;

}
