* {
    margin: 0;
    padding: 0

}

body {
    font-family: Poppins, Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #fcf7f7;
    overflow: auto !important;
    line-height: 1.6;
    background-color: #1b0808 !important;
  
}

img {
    border-style: none;
    width: 30%;
    height: auto;
    vertical-align: bottom; 
}

a, a:hover, a:focus  {
    text-decoration: none;
    outline: none;
    color: inherit;
}
nav {
  background-color: #333;
  padding: 10px 0;
  position: relative;
  width: 100%;
}
.nav-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: auto;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin: auto;
  display: list-item;
  width: 100%;

}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #555;
}
h1 {
    font-size: 35px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 21px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 14px;
}

p {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
}

.product-details, .product-description {
  margin: 30px;
  background-color:#2b0e0e;
  align-items: center;
  text-transform: inherit;
  text-decoration-color: #e7dcdc;
}

.container {
  max-width: 100px;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}

.product-image img {
  max-width: 40%;
  height: 50%;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid #ddd;
  padding: 0px;
  text-align: left;
}

th {
  background-color: #2b0e0e;
  color: white;
}

tr:nth-child(even) {
  background-color:#2b0e0e;
}



.primary_bg {
    background-color: #2b0e0e;
}


.bg_image {
    background-size: cover;
    background-position: right center;
    background-attachment: local;

}

.taskbar.hidden {
  visibility: hidden;
  top: -50px;
  position: absolute;


}

.taskbar a {
  color: #fff;
  text-decoration: none;
}


.taskbar .menu {
  display: flex;
  align-items: center;
}

.taskbar .menu li {
  margin: 0 10px;
}

.taskbar .menu a {
  color: #fff;
  text-transform: uppercase !important;
  font-size: 14px;
  transition: all .3s ease;


}



.home h1 {
    color: #fff;
    font-size: 60px;
    font-weight: 900;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: left;
}


.prices-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #683333;

}
/*End Home Section */
.contact-us{
  background-color: #2b0e0e;
  padding: 10px;
  margin: 0 auto;
  width: 80%;
  text-align: center;

}

footer {
  background-color: #2b0e0e;
  padding: 5px;
  text-align: center;
  font-size: small;

}


